FIREBASE_PROJECT_ID=arah-app
FIREBASE_CLIENT_EMAIL=firebase-adminsdk@arah-app.iam.gserviceaccount.com
FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nYOUR_KEY\n-----END PRIVATE KEY-----"
HMAC_SECRET=change-this-random-secret
NOMINATIM_PASSWORD=arah_dev
